
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto+Slab:wght@300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;

}
/*creacion header*/
.header{
    background: rgb(187, 0, 0) ;
    display: flex;
    width: 100%;
    flex-direction: column;
    
}

.header__logo{
    display: flex;
    align-items: flex-end;
    border-bottom: solid 1px  ;
    border-color: aliceblue;
}
.header__logo img{
    margin-left: 3%;
    height: 245px;
    height: 60px;
}
.header img:hover{
    border-bottom: solid 2px aliceblue;
    cursor: pointer;
}
.header__button{
    margin: 0 4% 0 4%;
    border-bottom: solid 1px  ;
    border-color: aliceblue;
    display: flex;
    align-items: flex-end;  
}

.header__button .button--noticias {
    border-bottom: solid 2px #ffff;
}
.header__button button{
    background-color:   transparent;
    text-decoration: none;
    padding: 8px;
    font-size: 15.1px;
    color: white;
    border: none;   
    font-family: 'Raleway', sans-serif;
}

.header button:hover{
    border-bottom: solid 2px aliceblue;
    cursor: pointer;
}

.header__button2{
    margin: 0 4% 0 4%;
    display: flex;
    align-items: center;
    justify-content: flex-start;  
}

.header__button2 button{
    background-color:   transparent;
    text-decoration: none;
    padding: 8px;
    font-size: 16px;
    color: white;
    border: none;
}
/*seccion noticias*/
main{
    display: flex;
    width: 73%;
    justify-content: center;
    align-items: center;
    margin: 13px 13% 0 13%;
}

.container{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

/*primera tarjeta */

.container__card{
    display: flex;
    margin: 20px 0 10px 0;
    width: 100%;
}

.container__card img{
    width:  576px;
    height: 240px;
    margin-right: 10px;
    
}

.card--info{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.card--tittle{
    margin-bottom: 10px;
    color: #313131;
    margin: 0;
    padding-bottom: 0.5rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.50rem;
    line-height: 1.625rem;
    text-decoration: none;
}

.container .container__card:hover{
    cursor: pointer;
}
.container__card:hover h3, h3:hover{
    cursor: pointer;
    text-decoration: underline;
}


.card--info p{
    font-weight: 500;
    font-style: normal;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    margin-bottom: 10px;
}

.card--info span{
    font-weight: 500;
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #6E6E73;
}


/*cuadro de noticias*/
.container__noticias{
    display: flex;
    margin: 20px 0 10px 0;
    width: 100%;
}

.noticias__cards{
    position: relative;
    margin: 0 5px 0 0;

}
.noticias__cards img{
    width: 215px;
    height: 128px;
    
    
}

.noticias__cards span{
    font-weight: 500;
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #6E6E73;
}

.container__noticias .noticias__cards:hover{
    cursor: pointer;
}
.noticias__cards:hover p, p:hover{
        text-decoration: underline;  
}

.noticias__cards1{
    margin: 0 3px 0 3px;
}
.noticias__cards1 img{
    width: 215px;
    height: 128px;
    
    
}

.noticias__cards1 span{
    font-weight: 500;
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #6E6E73;
}

.container__noticias .noticias__cards1:hover{
    cursor: pointer;
}
.noticias__cards1:hover p, p:hover{
        text-decoration: underline;  
}

.noticias__cards2{
    margin: 0 0 0 5px;
}
.noticias__cards2 img{
    width: 215px;
    height: 128px;
    
    
}

.noticias__cards2 span{
    font-weight: 500;
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #6E6E73;
}

.container__noticias .noticias__cards2:hover{
    cursor: pointer;
}
.noticias__cards2:hover p, p:hover{
        text-decoration: underline;  
}
/*cuadro titulo noticias*/
.cuadro__noticias{
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 20px;
}
.cuadro__noticias span{
    width: 240px;
    font-size: 1.4rem;
    line-height: 2rem;  
    color: #6E6E73;
    font-family: 'Roboto Slab', serif;
}
 .linea{
    margin-bottom: 15px;
    border-bottom:solid 1px grey;
    width:100%;
    height:50px;
}
.cuadro__noticias .vertodo{
    display: flex;
    justify-content: right;
    width: 100px;
    margin-bottom: 7px;

}
.cuadro__noticias a{
    
    color: black;
    text-decoration: none;
}
/*noticias 2*/
.noticias{
    display: flex;
    width: 100%;
    margin: 20px 30px 10px 30px;
}

.noticias--card{
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 0;
  
}

.noticias--card h3{
    width: 200px;
    margin-bottom: 10px;
}
.noticias--img{
    margin: 0 20px 0 20px;
}
.noticias--img img{
    width: 435px;
    height: 100%;
}

.noticias--cards{
    display: flex;
    flex-direction: column;
}

.noticias--cards img{
    width: 208px;
    height: 128px;
}

.noticias span {
    font-weight: 500;
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #6E6E73;
}